# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Editor Folders
.idea
.vscode

# Unit test / coverage reports
htmlcov/
.coverage
.cache/

# Build
build
_build
dist/
docs/generated
gimpact.egg-info/

# Cythonize output
/gimpact.cpp
